[submodule "GeoSoftII_SST_Process"]
	path = GeoSoftII_SST_Process
	url = https://github.com/FelixGI1516/GeoSoftII_SST_Process
[submodule "GeoSoftII_NDVI_Process"]
	path = GeoSoftII_NDVI_Process
	url = https://github.com/FelixGI1516/GeoSoftII_NDVI_Process
